<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MovieList</title>
    <link href="../MOVIE_DESIGN/css/common.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main" id="app">
        <h1 class="page_title">MovieList</h1>
        <table class="movie_list">
            <tr>
                <th class="movie_list_num">No.</th><th>TITLE</th><th>YEAR</th><th>GENRES</th><th class="movie_list_running_time">RUNNING-TIME</th><th>RATING</th>
            </tr>
            <tr v-for="(jsonItem, index) in json">
                <td class="movie_list_num">{{ index+1 }}</td><td ><a class="movie_list_title" @click="detailUrl(index)">{{ jsonItem.title }}</a></td><td>{{ emptyJug(jsonItem.year) }}</td><td><p  v-for="genres in jsonItem.info.genres">{{ emptyJug(genres) }}</p></td><td class="movie_list_running_time">{{ runningTime(jsonItem.info.running_time_secs) }}</td><td>{{ emptyJug(jsonItem.info.rating) }}</td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="js/movie.js"></script>
</body>
