<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MovieDetail</title>
    <link href="../MOVIE_DESIGN/css/common.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main" id="app">
        <h1 class="page_title">MovieDetail</h1>
        <a class="back_button" href="movie_index.html">← return</a>
        <table class="movie_detail">
            <tr>
                <th>TITLE</th><td>{{ json[param].title }}</td>
            </tr>
                <th>DIRECTORS</th><td><p v-for="(directors, index) in json[param].info.directors">{{ directors }}</p></td>
            </tr>
            <tr>
                <th>RELEASE-DATE</th><td>{{ formatDate(json[param].info.release_date) }}</td>
            </tr>
            <tr>
                <th>RATING</th><td>{{ json[param].info.rating }}</td>
            </tr>
            <tr>
                <th>GENRES</th><td><p  v-for="genres in json[param].info.genres">{{ emptyJug(genres) }}</p></td>
            </tr>
            <tr>
                <th>PLOT</th><td>{{ json[param].info.plot }}</td>
            </tr>
            <tr>
                <th>RANK</th><td>{{ json[param].info.rank }}</td>
            </tr>
            <tr>
                <th>RUNNING-TIME</th><td>{{ runningTime(json[param].info.running_time_secs) }}</td>
            </tr>
            <tr>
                <th>ACTORS</th><td><p  v-for="actors in json[param].info.actors">{{ emptyJug(actors) }}</p>{{  }}</td>
            </tr>
        </table>
        <a class="back_button" href="movie_index.html">← return</a>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script type="text/javascript" src="js/movie.js"></script>
</body>
